In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme(style="darkgrid")

In [2]:
df = pd.read_csv('dataset_group.csv')

In [3]:
df.head()

         Date  Order_id        Product
0  2018-01-01         1         yogurt
1  2018-01-01         1           pork
2  2018-01-01         1  sandwich bags
3  2018-01-01         1     lunch meat
4  2018-01-01         1   all- purpose

In [4]:
df.tail()

             Date  Order_id            Product
20636  2020-02-25      1138               soda
20637  2020-02-25      1138       paper towels
20638  2020-02-26      1139               soda
20639  2020-02-26      1139  laundry detergent
20640  2020-02-26      1139            shampoo

In [5]:
df.shape

(20641, 3)

In [6]:
df.describe()

           Order_id
count  20641.000000
mean     575.986289
std      328.557078
min        1.000000
25%      292.000000
50%      581.000000
75%      862.000000
max     1139.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [8]:
df.dtypes

Date        object
Order_id     int64
Product     object
dtype: object

In [9]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [11]:
df.duplicated().sum()

4730

In [12]:
df['Order_id'].duplicated().sum()

19502

## Univariate Analysis for categorical variable

In [14]:
df["Product"].nunique()

37

In [16]:
print(df["Product"].value_counts())

poultry                         640
soda                            597
cereals                         591
ice cream                       579
cheeses                         578
waffles                         575
soap                            574
bagels                          573
lunch meat                      573
juice                           570
eggs                            570
toilet paper                    569
dinner rolls                    567
aluminum foil                   566
coffee/tea                      565
shampoo                         562
beef                            561
paper towels                    556
flour                           555
butter                          555
milk                            555
mixes                           554
dishwashing liquid/detergent    551
all- purpose                    551
ketchup                         548
yogurt                          545
individual meals                544
tortillas                       543
pasta                           542
laundry detergent               542
spaghetti sauce                 536
sandwich bags                   536
sugar                           533
pork                            531
fruits                          529
sandwich loaves                 523
hand soap                       502
Name: Product, dtype: int64